{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>内海美容室</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>内海 亘博</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>
                          〒721-0907<br>
                          広島県福山市春日町3-16-28 マンション培遠103
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>084-983-0545</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@utsumibiyou-order.com">info@utsumibiyou-order.com</a></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://www.utsumibiyou.com">https://www.utsumibiyou.com</a></dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>
                          代引き手数料無料10,000円以上のご購入、または定期購入につきましては送料は弊社にて負担させていただきます。(10,000円未満のご購入は送料880円お客様にご負担いただきます)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">注文方法</label>
                        </dt>
                        <dd>
                          	サイト、内海美容室LINEまたはお電話にてご注文ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>
                          「前払い」(銀行振込)<br>
                          「前払い」(クレジット決済)<br>
                          「後払い」代金引換
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">支払期限</label>
                        </dt>
                        <dd>
                            商品引き換え時にお支払頂きます。(不在時の保管期間1週間)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>
                          前払いの場合:指定日がなければ入金確認後2〜3日営業日で発送。<br>
                          代引きの場合:指定日がなければご注文後2〜3日営業日で発送<br>
                          (3日以内に発送できない場合事前にご連絡いたします)<br>
                          ※送り状の品名欄にはどの商品をご注文頂いても「雑貨」と表記いたします。                            
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>
                          <p>商品の品質には万全を期しておりますが、万が一不良品、商品違い、破損などがございましたら、商品到着日より7日間以内にお手数ですが、弊社までご連絡いただき、商品到着日より7日間以内に送料着払いにて上記販売主住所までご返送ください。</p>
                          <p>なお、お客様のご都合による交換は、いかなる理由でもお受けできません。予めご了承ください。また、お客様のお受け取り拒否、住所不明及び不在による商品変質につきましても返品には応じかねますので、ご了承ください。</p>
                          <p>不良品など商品に不備があった場合のみ、当店にて送料負担いたします。お客様のご都合による返品の場合は、お客様のご負担となります。</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}