{% extends 'default_frame.twig' %}

{% block main %}

<section class="underImage--UT">
  <div class="L-inner">
    <h2>よくある質問</h2>
   </div>
</section>
<div class="underInnerFaq--UT">
  <div class="L-inner">
  <div class="underContents--UT">
      <section class="borderWrap">
        <h3>クレジット決済のエラーについて</h3>
        <p>当サイトでは不正利用を防止する3Dセキュアに対応しています。セキュリティレベルが向上しているため、稀に通常のお客様でもご注文が通りにくいことがございます。クレジット決済時にエラーが出て完了しなかった方は店舗までご連絡ください。</p>
        <p></p>
      </section>  
    </div>    
    <div class="underContents--UT">
      <section class="borderWrap">
        <h3>送料はいくらかかりますか？</h3>
        <p>1万円以下の場合は880円。1万円以上のご購入で送料無料となっております。</p>
        <p>また、定期購入でお買い上げいただいた商品につきましても送料無料となっております。</p>
      </section>  
    </div>
    <div class="underContents--UT">
      <section class="borderWrap">
        <h3>注文してからどのくらいで商品が届きますか？</h3>
        <p>在庫がある商品につきましては、ご注文から2日以内に発送いたします。一部出荷が遅れる商品に関してはメールにて納期のご連絡をいたします。</p>
        <p> なお配送は日本国内のみとさせていただきます。</p>
      </section>  
    </div>
    <div class="underContents--UT">
      <section class="borderWrap">
        <h3>どんな支払い方法がありますか？</h3>
        <p>お支払方法はクレジットカード、代金引換、銀行振込、PayPal支払いがご利用いただけます。</p>
        <p>詳しくはご利用ガイドをご覧ください。</p>
      </section>  
    </div>
    <div class="underContents--UT">
      <section class="borderWrap">
        <h3>手数料はかかりますか？</h3>
        <p>お振り込み手数料はお客様ご負担とさせていただいております。</p>
        <p>送料につきましては1万円以上ご購入で送料無料。1万円以下の場合は880円となっております。</p>
      </section>  
    </div>
  </div>
</div>

{% endblock %}