{% extends 'default_frame.twig' %}

{% block main %}

<section class="underImage--UT">
  <div class="L-inner">
    <h2>転売に対する措置について</h2>
   </div>
</section>
<div class="underInnerShop--UT">
  <div class="L-inner__S mbLarge">
    <figure class="txt_center mb_40">
      <img src="{{ asset('assets/img/common/bnr-rmadastyle.jpg', 'user_data') }}" alt="">
    </figure>
    <section class="txt_center mb_40">
      <p>
        アルマダスタイル社製商品は、美容室専売品となっております。
      </p>
      <p>
        そのためご購入いただいた商品を転売をする行為を禁止しております。
      </p>
      <p>
        <strong>※正規取扱店以外での販売はロットナンバーの追跡から転売行為が必ず発覚します</strong>
      </p>
      <p>
        もし、当店での転売が発覚した場合は下記の措置をとらせていただきます。
      </p>
    </section>
    <section class="borderWrap__gray">
      <ol>
        <li>会員登録解除・再登録の禁止。および当店での販売をお断りさせていただきます。</li>
        <li>セール価格・定期価格・おまとめ買い価格でご購入された場合、通常価格に変更させていただき差額分をご請求させていただきます。また残りのストックされている分もお渡しいたしませんので予めご了承ください。
        </li>
        <li>転売した商品によって当店への被害などが生じた場合、賠償請求をいたします。</li>
      </ol>
    </section>
    <p class="txt_center">
      当店では転売に関する一切の行為を禁止・販売のお断りをしております。ご了承ください。
    </p>
  </div>
</div>

{% endblock %}