<section class="bnrList--UT mbLarge">
        <div class="L-inner">
          <ul class="flexContainer__between">
            <li>
              <figure><a href="https://www.utsumibiyou-order.com/user_data/tenbai"><img src="{{ asset('assets/img/common/255x193_armada.jpg', 'user_data') }}" alt=""></a></figure>
            </li>
            <li>
              <figure><a href="https://www.utsumibiyou-order.com/guide#guide-postage"><img src="{{ asset('assets/img/common/255x193_souryou.jpg', 'user_data') }}" alt=""></a></figure>
            </li>
            <li>
              <figure><a href="https://www.utsumibiyou-order.com/contact"><img src="{{ asset('assets/img/common/255x193_mailmagazine.jpg', 'user_data') }}" alt=""></a></figure>
            </li>
            <li>
              <figure><a href="https://lin.ee/cncjOYx"><img src="{{ asset('assets/img/common/255x193_line.jpg', 'user_data') }}" alt=""></a></figure>
            </li>
          </ul>
        </div>
      </section>