<section class="loginBnr--UT">
    <div class="L-inner" style="text-align: center;">
        <img src="{{ asset('assets/img/common/main_point-present.jpg', 'user_data') }}" alt="">
    </div>
</section>