<section class="snsList--UT">
        <div class="L-inner">
          <ul class="flexContainer__between">
            <li><a href="https://lin.ee/cncjOYx" target="_blank">
              <h3><img class="snsIcn" src="{{ asset('assets/img/common/icn_line.png', 'user_data') }}" alt="" width="48">公式LINE</h3>
              <p>
                オンラインショップについてや商品に関するご質問はLINEチャットをご利用ください。内容を確認次第スタッフが返信いたします。
              </p>
              <p class="snsList__more">友だち登録する<i class="fas fasRight"></i></p>
            </a></li>
            <li><a href="https://www.youtube.com/channel/UCavf1XxMx9tJhYIIVqt6Kcw" target="_blank">
              <h3><img class="snsIcn" src="{{ asset('assets/img/common/icn_youtube.png', 'user_data') }}" alt="" width="48">YouTubeチャンネル</h3>
              <p>
                YouTubeでは商品の使い方や実際に使用した感想を動画でご紹介しています。ぜひチャンネル登録してチェックしてみてください。
              </p>
              <p class="snsList__more">YouTubeチャンネルを見る<i class="fas fasRight"></i></p>
            </a></li>
            <li><a href="https://www.utsumibiyou.com/cp_itemblog" target="_blank">
              <h3><img class="snsIcn" src="{{ asset('assets/img/common/icn_logo.png', 'user_data') }}" alt="" width="48">店舗ホームページ</h3>
              <p>
                内海美容室店舗ホームページにて取扱商品の詳しいご説明をしております。オンラインショップとあわせてご覧ください。
              </p>
              <p class="snsList__more">店舗ホームページへ<i class="fas fasRight"></i></p>
              </a></li>                        
          </ul>
        </div>
      </section>