{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<section class="listItem4--UT mbLarge">
  <div class="L-inner">
    <h2 class="h2-main txt_center">お得情報をチェック</h2>
    <ul class="flexContainer__between">
      <li>
        <figure><a href="https://www.utsumibiyou-order.com/products/list?category_id=8"><img src="{{ asset('assets/img/common/339x193_campaign.jpg', 'user_data') }}" alt=""></a></figure>
        <p><a href="https://www.utsumibiyou-order.com/products/list?category_id=8">キャンペーン情報をチェック</a></p>
      </li>
      <li>
        <figure><a href="https://www.utsumibiyou-order.com/user_data/teiki"><img src="{{ asset('assets/img/common/339x193_teiki.jpg', 'user_data') }}" alt=""></a></figure>
        <p><a href="https://www.utsumibiyou-order.com/user_data/teiki">定期便で毎月お得に購入</a></p>
      </li>
      <li>
        <figure><a href="https://www.utsumibiyou-order.com/products/list?category_id=334"><img src="{{ asset('assets/img/common/339x193_sample.jpg', 'user_data') }}" alt=""></a></figure>
        <p><a href="https://www.utsumibiyou-order.com/products/list?category_id=334">お試しサンプルを使ってみる</a></p>
      </li>
    </ul>
  </div>
</section>