@charset "UTF-8";
/*===============================================
font
===============================================*/
.fa-caret-right:before {
  font-size: 12px;
}

.fontGreen {
  color: #F1B535;
}

/*===============================================
reset
===============================================*/
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

fieldset, img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  vertical-align: top;
}

caption {
  text-align: left;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  vertical-align: bottom;
}

figure {
  margin: 0 0 10px 0;
}

/*===============================================
基本要素の設定
body
ul,ol
a:
===============================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  color: #000000;
  line-height: 1.9;
  font-size: 100%;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.olnumber {
  line-height: 2;
}

iframe {
  width: 100%;
}

a {
  text-decoration: underline;
  color: #543900;
}

a:hover {
  color: #543900;
}

.opa08 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (min-width: 480px) {
  .opa08:hover {
    opacity: 0.7;
  }
  .opa08 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
.hover-blur img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-blur img:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.hover-opa img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-opa img:hover {
  opacity: 0.8;
}

h1 {
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-weight: 500;
}

h2 {
  font-family: "Noto Serif JP";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5;
  color: #543900;
  margin-bottom: 20px;
}

.h2-main {
  font-size: 1.4rem;
  line-height: 1.6;
}

h3 {
  line-height: 1.7;
  font-family: "Noto Serif JP";
  font-weight: 500;
  color: #543900;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 15px;
}

.h3-under {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

h4 {
  font-family: "Noto Serif JP";
  position: relative;
  font-size: 24px;
  line-height: 1.5;
  padding-bottom: 12px;
}

h5 {
  position: relative;
  font-family: "Noto Serif JP";
  font-size: 21px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

h5::before {
  content: "";
  position: absolute;
  background: #F1B535;
  width: 7px;
  height: 7px;
  top: 15px;
  left: 0;
  border-radius: 50px;
}

h6 {
  font-family: "Noto Serif JP";
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333333;
}

strong {
  font-weight: 500;
  color: #F1B535;
}

p {
  margin-bottom: 10px;
  font-size: 1rem;
}

ol {
  padding-left: 21px;
}

/*===============================================
共通クラスの設定
===============================================*/
.pcOnly {
  display: block;
}

.spOnly {
  display: none;
}

.fixed:after {
  clear: both;
  content: "";
  display: block;
}

.WhiteContainer {
  background: #ffffff;
  padding: 20px 30px;
}

/* cursor */
.hand {
  cursor: pointer;
}

/*===============================================
ボタン設定
===============================================*/
.btn,
a.btn,
button.btn {
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: "Noto Serif JP";
  font-weight: 500;
}

.btn--gold {
  position: relative;
  display: inline-block;
  background: #F1B535;
  line-height: 1;
  padding: 12px 30px 13px 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn--gold:hover {
  background: #000000;
  color: white;
}

.fasRight:after {
  content: "\f0da";
  margin-left: 10px;
}

/*===============================================
flex用
===============================================*/
.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexContainer__between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContainer__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContainer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContainer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContents {
  width: 45%;
}

.flexContents2 {
  width: 49%;
}

.rowR {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/*===============================================
レイアウト用
===============================================*/
.L-inner {
  margin: 0 auto;
  max-width: 1130px;
}

@media screen and (max-width: 930px) {
  .L-inner {
    width: 90%;
    margin: 0 auto;
  }
}
.L-inner__S {
  width: 90%;
  margin: 0 auto;
}

.L-inner__L {
  width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .L-inner__L {
    width: 90%;
    margin: 0 auto;
  }
}
.L-btn {
  margin-top: 20px;
}

/*===============================================

header

1.検索ボタンclass踏襲★
2.メニューclass踏襲★
3.デフォルトclassの上書き
4.グロナビ

===============================================*/
.ec-headerNaviRole--UT {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  color: #525263;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  max-width: 1130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.ec-headerNaviRole--UT .ec-headerNaviRole__search {
  display: none;
}

.ec-headerNaviRole--UT .ec-headerNaviRole__right {
  width: 66.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ec-headerNav .ec-headerNav__itemLink {
  display: none;
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.ec-cartNavi {
  display: inline-block;
  padding: 10px 0 0 20px;
  width: auto;
  min-width: auto;
  color: black;
  background: transparent;
}

.ec-cartNavi .ec-cartNavi__icon {
  display: inline-block;
  font-size: 20px;
  display: inline-block;
  opacity: 1;
  visibility: visible;
  -webkit-animation: fadeIn 200ms linear 0s;
  animation: fadeIn 200ms linear 0s;
  position: relative;
}

.ec-cartNavi .ec-cartNavi__price {
  display: none;
}

.ec-cartNaviNull {
  display: none;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  z-index: 3;
  position: absolute;
  right: 0;
}

.fa-shopping-cart:before {
  color: white;
}

.ec-headerNav {
  margin-right: 0;
}

.ec-headerNavSP {
  display: block;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  /* color: white; */
  top: 10px;
  left: 10px;
  z-index: 1000;
}

/* 4.グロナビ */
.headerWrapper--UT {
  width: 100%;
  margin: 10px 0 0;
}

.headerLogo--UT {
  position: static;
  text-align: center;
  margin-bottom: 15px;
}

.header__nav--UT {
  display: none;
}

.header__navSP--UT {
  display: block;
}

.j-gNavi__listSP--UT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1B535;
  padding: 12px 0;
}
.j-gNavi__listSP--UT li {
  width: 35%;
  text-align: center;
  font-size: 12px;
  font-family: "Noto Serif JP";
}
.j-gNavi__listSP--UT li a {
  text-decoration: none;
}
.j-gNavi__listSP--UT li a figure {
  margin-bottom: 3px;
}

/*===============================================
heroimage
===============================================*/
.heroImage {
  width: 100%;
  margin: 0 auto 70px;
}

.slider-2 .slick-slide {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.slider-2 .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.underImage--UT {
  margin-bottom: 40px;
  text-align: center;
}

/*===============================================

トップページのコンテンツ

1.新着情報class踏襲★
2.お得情報をチェック
3.人気ランキング
4.バナー
5.SNSリンク

===============================================*/
.topNews {
  margin-bottom: 50px;
}

/* 1.新着情報 */
.ec-newsRole .ec-newsRole__news {
  border: 16px solid #F8F8F8;
  padding: 20px 30px;
}

.ec-newsRole .ec-newsRole__newsItem {
  padding: 20px 0;
}

.ec-newsRole .ec-newsRole__newsItem {
  width: 100%;
}

.ec-newsRole .ec-newsRole__newsItem {
  width: 100%;
}

.ec-newsRole .ec-newsRole__newsHeading {
  cursor: pointer;
}

.ec-newsRole .ec-newsRole__newsHeading {
  display: block;
}

.ec-newsRole .ec-newsRole__newsDate {
  display: inline-block;
  margin: 0;
  min-width: 120px;
  font-size: 14px;
}

.ec-newsRole .ec-newsRole__newsDate {
  display: block;
  margin: 0 0 5px;
  font-size: 12px;
  color: black;
}

.ec-newsRole .ec-newsRole__newsColumn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 100%;
}

.ec-newsRole .ec-newsRole__newsTitle {
  margin-bottom: 0;
  line-height: 1.8;
}

.ec-newsRole .ec-newsRole__newsTitle {
  display: inline-block;
  margin-bottom: 10px;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  color: #7D7D7D;
  line-height: 1.6;
}

.ec-newsRole .ec-newsRole__newsClose {
  display: inline-block;
  width: 10%;
  position: relative;
}

.ec-newsRole .ec-newsRole__newsCloseBtn {
  display: inline-block;
  margin-left: auto;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  text-align: center;
  background: black;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.fa-angle-down:before {
  content: "\f107";
}

/* 3.人気ランキング */
.topRanking--UT {
  margin-bottom: 70px;
}

.topRanking--UT .flexContainer__start li {
  width: 47%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.topRanking--UT .flexContainer__start li:nth-child(2n) {
  margin-right: 0;
}

.topRanking--UT .flexContainer__start li:nth-child(5n) {
  margin-right: 20px;
}

/* 4.バナー */
.bnrList--UT {
  margin-bottom: 50px;
}
.bnrList--UT .flexContainer__between li {
  width: 47%;
  margin-bottom: 20px;
}

/* 5.SNSリンク */
.snsList--UT {
  margin-bottom: 25px;
}
.snsList--UT .flexContainer__between li {
  margin-bottom: 40px;
  width: 350px;
  border: 1px solid #ABABAB;
  border-radius: 5px;
  padding: 20px 26px;
}
.snsList--UT .flexContainer__between li h3 {
  font-size: 1.3rem;
}

/*===============================================
footer
===============================================*/
.pagetop {
  right: 10px;
}

#footer--UT {
  position: relative;
  background: #000000;
  padding: 50px 20px 10px;
  color: white;
}
#footer--UT .footerTop {
  margin-bottom: 40px;
}
#footer--UT .footerTop .flexContainer__start {
  display: block;
}
#footer--UT .footerTop .footerLogo--UT {
  text-align: center;
  margin-right: 0;
  margin-bottom: 30px;
}
#footer--UT .footerTop .btn {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
#footer--UT .footerBottom .flexContainer__start {
  display: block;
}
#footer--UT .footerBottom .flexContainer__start li {
  margin-right: 0;
  margin-bottom: 20px;
}
#footer--UT .footerBottom .flexContainer__start li a {
  color: white;
}
#footer--UT .copyright {
  color: #ffffff;
  margin-top: 50px;
  text-align: center;
}

/*===============================================
下層ページ
===============================================*/
/* ご利用ガイドのwrapper */
.underInnerGuide--UT {
  margin-bottom: 100px;
}

/* よくある質問のwrapper */
.underInnerFaq--UT {
  margin-bottom: 60px;
}

/* 4つ並び */
.listItem4--UT .flexContainer__between li {
  width: 47%;
  margin-bottom: 20px;
}
.listItem4--UT .flexContainer__start li {
  width: 47%;
  margin-right: 20px;
}
.listItem4--UT .flexContainer__start li:nth-child(2n) {
  margin-right: 0;
}

/* 注文履歴コンテンツ */
.underOrderdata--UT {
  background: #F8F8F8;
  margin-bottom: 50px;
  padding: 40px 0;
}

/* POINT１～POINT3コンテンツ */
.underCheckpoint--UT {
  padding: 50px 0;
}
.underCheckpoint--UT .L-inner__L {
  padding: 60px 10px 30px;
}

.pointWrap--UT {
  text-align: center;
  margin: 0 auto 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pointWrap--UT .pointWrap__no {
  margin: 0 auto 20px;
}
.pointWrap--UT .pointWrap__no p {
  line-height: 1.3;
  margin-bottom: 0;
}
.pointWrap--UT .pointWrap__no .No {
  font-size: 30px;
}

.pointWrap--UT .pointWrap__txt {
  width: 77%;
  margin: 0 auto;
}
.pointWrap--UT .pointWrap__txt h3 {
  margin-bottom: 10px;
  line-height: 1.7;
}

/* ご利用ガイドや利用規約のスタイル */
.underContents--UT {
  margin-bottom: 30px;
}
.underContents--UT__wrap {
  margin-bottom: 20px;
}
.underContents--UT .bgGray {
  background: #F3F3F3;
  padding: 3px 12px;
}
.underContents--UT .borderbottom {
  border-bottom: solid 1px #c1bebe;
  margin: 20px 0;
}
.underContents--UT h3 {
  font-family: "Noto Serif JP";
  font-size: 19px;
}
.underContents--UT h4 {
  font-size: 18px;
  padding-bottom: 10px;
}
.underContents--UT h5 {
  position: relative;
  font-family: "Noto Serif JP";
  font-size: 19px;
  border-bottom: 0;
  padding-left: 20px;
  margin-bottom: 10px;
}
.underContents--UT h5::before {
  content: "";
  position: absolute;
  background: #F1B535;
  width: 7px;
  height: 7px;
  top: 15px;
  left: 0;
  border-radius: 50px;
}
.underContents--UT ul li {
  list-style: disc;
  margin-left: 20px;
}

.shopTable--UT {
  margin-bottom: 60px;
}
.shopTable--UT .flexContainer__start {
  display: block;
}
.shopTable--UT__ttl {
  width: 100%;
}
.shopTable--UT__data {
  width: 100%;
}

.borderWrap__gray {
  background: #F5F5F5;
  padding: 20px 20px;
  margin-bottom: 20px;
}

/*===============================================
cosmetic
===============================================*/
.fLeft {
  float: left;
}

.fRight {
  float: right;
}

.mCenter {
  margin-left: auto;
  margin-right: auto;
}

.txt_color-base {
  color: #F1B535;
}

.txt_color-sub {
  color: #543900;
}

.txt_center {
  text-align: center;
}

.txt_right {
  text-align: right;
}

.txt_b {
  font-weight: bold;
}

.txt_red {
  color: red;
}

.bgWhite {
  background: #fff none repeat scroll 0 0;
  border: 4px solid #ccc;
  margin-bottom: 14px;
  padding: 16px;
}

/* dl用 */
.DlType01 dt {
  float: left;
  margin-right: 10px;
}
.DlType01 dd {
  float: left;
}

.DlType02 dt {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.DlType02 dd {
  margin-bottom: 14px;
}

/* ul用 */
.ulDisc li {
  position: relative;
  padding: 8px 0 8px 22px;
}
.ulDisc li:before {
  display: block;
  content: "";
  position: absolute;
  top: 1.1em;
  left: 6px;
  width: 4px;
  height: 4px;
  background-color: #F1B535;
  border-radius: 100%;
}

.marker {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, rgb(249, 244, 93)));
  background: linear-gradient(transparent 80%, rgb(249, 244, 93) 80%);
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mbLarge {
  margin-bottom: 60px;
}